.menu-color{
    color: white !important;
}
.userImg{
    width: 40px;
    border-radius: 100%;
}
.profile-menu-box:hover{
    background-color: #ffe222 !important;
    color: #0f0826 !important;
    cursor: pointer;
}
.profile-menu-box{
    background-color: #0f0826 !important;
    color: white !important;
    transition: all 0.3s;
    text-decoration: none;
    width: 50%;
}
.offcanvas-body, .offcanvas-header{
    background-color: #0f0826 !important;
    color: white !important;
}